


<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <a href="/" id="home"><img src="/static/img/ned.jpg" title="NED Media Group"></a>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-user-md"></i> <strong> Accounts</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-fw fa-sign-in"></i> Login</h3>
                                </div>
                                <div class="panel-body">
                                    <form id="loginform" role="form">
                                        <div class="form-group input-group" onclick="this.classList.remove('has-error')">
                                            <span class="input-group-addon"><i class="fa fa-fw fa-envelope"> </i> </span>
                                            <input type="email" id="username" class="form-control" autocomplete="current-email">
                                        </div>
                                        <div class="form-group input-group" onclick="this.classList.remove('has-error')">
                                            <span class="input-group-addon"><i class="fa fa-fw fa-key"> </i> </span>
                                            <input type="password" id="password" class="form-control" autocomplete="current-password">
                                        </div>
                                        <div class="form-group">
                                            <div id="loginresponseinf"></div>
                                        </div>

                                        <div class="form-group input-group">
                                        <span class="input-group-addon"><i class="fa fa-fw fa-sign-in"> </i></span>
                                            <button type="button" id="loginbutt" class="btn btn-block btn-primary" onclick="loginUser()"><strong>Login</strong></button>
                                        </div>
                                        <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-fw fa-lock"> </i> </span>
                                            <button type="button" id="createaccount" class="btn btn-block btn-warning" onclick="Menu(this.id)"><strong>Create an Account</strong></button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"><i class="fa fa-info-circle fa-fw"></i> </h3>
                                            </div>
                                            <div class="panel-body">
                                            <div class="polaroid">
                                                <img src="/static/img/ned3.jpg" style="width:100%" alt="Ned Media Group">
                                                <div class="polatext">
                                                    <strong>Please login or create an account to access our services</strong>
                                                </div>
                                            </div>




                                            </div>
                                        </div>
                        </div>
    </div>
    <!-- /.row -->
</div>