


<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
        <a href="#" id="services" onclick="sidebarMenu(this.id)"><img src="/static/img/ned.jpg" title="NED Media Group"></a>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-briefcase"></i> <strong> Services</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong><i class="fa fa-coffee"> </i> Ned Media Services</strong></h3>
                                        
                </div>
                <div class="panel panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#"><strong><i class="fa fa-deviantart"> </i> Marketing Plan Development</strong></a></li>
                        <li class="list-group-item"><a href="#"><strong><i class="fa fa-deviantart"> </i> Design Services (Logos, Letterheads, etc)</strong></a></li>
                        <li class="list-group-item"><a href="#"><strong><i class="fa fa-deviantart"> </i> Installations (Billboards, Road Signs, etc) </strong></a></li>
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div id="servicespageinf">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong><i class="fa fa-coffee"> </i> Services </strong></h3>
                    </div>

                    <div class="panel-body">
                        <div class="polaroid">
                            <img src="/static/img/services.jpg" style="width:100%" alt="Ned Media Group">
                            <div class="polatext">
                                <h3 class="panel-title">Marketing Plan Development</h3>
<p>Having a proper marketing plan in place for your brand is like having a clearly marked treasure map.
W
e help our client define their goals and put in place action plans to achieve them. Our submitted
marketing plans aren’t typical once of
f documents, but rather an itinerary for a journey that we undertake
with our clients. Call on us to define, develop and implement your marketing plan and provide
    best practices for stewardship of your brand.</p>
<h3 class="panel-title">Print and Advertising</h3>
<p>Whatever your print/advertising requirements are, we have the talent, skills and tools to produce
world class material. Our expertise ranges from design, corporate identity design, outdoor or magazine
advertising design to flyer and poster designs.
    There is no limit to what we can produce.</p>                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


    </div>
    <!-- /.row -->
</div>